# Configure this file to your needs and then save it as '.conf' file! 

# Specify your github name
name:<your-github-name>
# Specify the output file
output:projects.json
# Specify the fil names to look for in the project (comma separated)
project_files:.phil-project,.phil
# Specify the timestamp file name
timestamp:.timestamp
# Specify the log file name
log_file:.log
# Specify the log length
log_length:100
# Specify the Banner file name
Banner:path/to/banner.gif